* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -5px 40px;

}

.logo img {

  width: 800px;

}

.contact-info {
  text-align: right;
  margin-right: 27px;




}

.contact-info p:first-child {
  font-weight: bold;
  color: #900;
  font-size: 27px;
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 2px solid #000;

  display: inline-block;
  
}


.contact-info .phone {
  font-size: 55px;
  font-weight: bold;

  color: #333;
}

.contact-info p:last-child {
  font-size: 22px;
  color: #666;
}


.navbar {
  background: maroon;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 19px;
  transition: background 0.3s;
  transform: translate(274px, 0px);
}

.navbar a:hover {
  background: gray;
}




.main-section {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin: 30px auto;



}


.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.left-section img {
  width: 100%;
  height: auto;
  margin-right: 20px;
}


.right-section {
  flex: 1;
  background: url('./form_bg.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.form-container {
  position: absolute;
  
  top: 260px;
  
  left: 676px;
  background: maroon;
  padding: 20px;
  width: 100%;
  max-width: 210px;
  height: 50px;
  border-radius: 5px;

}

.form-container h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: -20px;
  margin-left: -20px;
}

.form-container p {
  font-size: 18px;
  color: black;
  line-height: 1.4;
  transform: translate(350px, 10px);
  margin-top: -45px;
  
  
}

.form-container p strong {
  font-weight: 600;

}

.form-container p span {
  color: blue;
  /* highlight "Question" */
  font-style: italic;
  font-size: 18px;
}

 